.card {
  border: 2px solid blue;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0 10px 2px;
  justify-content: space-around;
  align-items: center;
  .card-item {
    border: 2px solid green;
    background-color: transparent;
    .card-img {
      width: 300px;
      height: 250px;
      //   -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
      filter: drop-shadow(8px 8px 10px gray);

      //   border-radius: 100%;
    }
  }
}
