$mobile: 300px;
// (min-width: 300px) and (max-width: 800px)
$ipad: 768px;
@mixin mobile {
  @media (min-width: #{$mobile})  and (max-width : $ipad) {
    @content;
  }
}
@mixin ipad {
  @media (min-width: #{$ipad}) {
    @content;
  }
}
nav {
  display: flex;
  //   border: 2px solid red;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 25px;
  ul.left {
    li {
      list-style: none;
      font-family: "Amatic SC", sans-serif;
      letter-spacing: 1px;
      font-size: 3rem;
      font-weight: 900;
      flex-basis: 45%;
      @include mobile() {
        font-size: 1.5rem;
      }
    }
  }
  ul.right {
    // border: 2px solid green;
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
    li {
      list-style: none;
      .profile-img {
        // border: 2px solid black;
        width: 60px;
        height: 50px;
        border-radius: 100%;
      }
    }
  }
}
