$mobile: 300px;
// (min-width: 300px) and (max-width: 800px)
$ipad: 768px;
$bigIpad: 1024px;
@mixin mobile {
  @media (min-width: #{$mobile})  and (max-width : $ipad) {
    @content;
  }
}

@mixin big-ipad {
  @media (min-width: #{$bigIpad}) {
    @content;
  }
}
@mixin ipad {
  @media (min-width: #{$ipad}) {
    @content;
  }
}

.home {
  height: 80vh;
}

.filter {
  width: calc(100% - 50px);
  margin: 0 auto;
  position: relative;
  height: 50px;
  padding: 10px 15px;
  display: block;

  cursor: pointer;
  @include mobile() {
    height: 100px;
    text-align: center;
  }
  .extra {
    height: 150px;
  }
  .filter-btn {
    border: 1px solid #e5c1cd;
    width: max-content;
    padding: 5px;

    vertical-align: middle;
    float: right;
    margin-top: 7px;

    letter-spacing: 1px;
    color: #e5c1cd;
    transition: all 0.5s ease-in-out;
  }
  .filter-btn:hover {
    border-radius: 100%;
    color: black !important;
  }
  .hide {
    display: none;
  }
  .filter-item {
    margin-top: 10px;
    max-width: 80%;
    margin-left: 55px;
    height: auto;
    display: block;

    transform-origin: center;
    z-index: 100;
    @include mobile() {
      margin-top: 10px;
      margin-left: 10px;
    }

    form {
      padding: 5px 122px 2px;
      width: 65%;
      margin-left: 65px;

      @include mobile() {
        position: absolute;
        padding: 2px 15px;
        width: 85%;
        display: block !important;

        z-index: 99;

        top: 34px;
        right: 9vw;
      }

      label {
        font-size: 1rem;
        font-weight: 600;
        display: inline;
        padding: 2px;
        letter-spacing: 1px;
        font-family: "Roboto Condensed", sans-serif;
        margin-left: 25px;
        @include mobile() {
          display: inline-block !important;
          margin-top: 5px;
          font-size: 0.8rem;
          margin-left: 2px;
          padding: 0;

          text-align: left;
        }
      }

      input[type="text"] {
        display: inline-block;
        margin: 5px;

        text-align: center;
        height: 20px;
        padding: 2px;
        letter-spacing: 1px;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1rem;
        transition: all 0.5s ease-in-out;
        border-radius: 4px;
        border: 1px solid #adadad;
        @include mobile() {
          margin-top: 10px;
          width: 60px;
        }
      }
      input[type="text"]:focus {
        background-color: #e5c1cd;
        border: 1px solid #e5c1cd !important;
      }
      .btn {
        background-color: #d6d6d6;
        border: 1px solid #c9bbc8;

        border-radius: 45px;
        text-align: center;
        outline: 0;
        border: none;
        height: 35px;
        transition: 0.05ms all ease-in-out;
        margin-left: 4px;
        @include mobile() {
          height: 40px;
        }
        .fas {
          padding: 4px 14px;

          letter-spacing: 1px;
          color: #000000 !important;
          font-size: 1rem;
          cursor: pointer;
          @include mobile() {
            color: #000000 !important;
          }
        }
      }
      .btn:hover {
        transform-origin: center;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #e5c1cd;
      }
    }
    .reset-filter {
      border: 1px solid #d6d6d6;
      position: absolute;
      right: 220px;
      bottom: 10px;
      border-radius: 4px;
      background-color: #d6d6d6;
      padding: 4px 8px;
      width: 20px;
      @include mobile() {
        position: absolute;
        width: 22px;
        height: 20px;
        right: -2px;

        z-index: 1;
        top: 47px;
      }

      .btn {
        background-color: transparent;
        border: none;
        outline: 0;
        letter-spacing: 1px;
      }
    }
  }
}
